@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  width: 100vw;
  min-height: 100vh;
  background: url('./images/main-bg.jpg') center / cover no-repeat;
  overflow: hidden;
}

.golden-text {
  background: linear-gradient(180deg, #EEC546 0%, #FFEFBE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttun-gradiend {
  background: linear-gradient(98.29deg, #51CDCB 9.76%, #516FC3 45.17%, #512DBD 90.89%);
}

.buttun-gradiend:hover {
  box-shadow: 0px 1px 16px 0px rgba(81, 45, 189, 0.6);
}

@media screen and (max-width: 880px) {

  body {
    background: url('./images/mobile-main-bg.jpg') center / cover no-repeat;
    overflow-y: auto;
  }

}
